@import "common";

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0em;
}

.overlay {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

#main {
  background-image: url("/img/home/main.jpg");
  height: 100%;
  #mainOverlay {
    //background-color: rgba(25, 118, 210, 0.75);
    background-image: linear-gradient(
      to right bottom,
      rgba(25, 118, 210, 0.8),
      rgba(71, 115, 206, 0.8),
      rgba(96, 111, 200, 0.8),
      rgba(114, 108, 194, 0.8),
      rgba(129, 105, 187, 0.8)
    );
  }
}

#blogposts {
  padding: 5em 0em;
  .display-3 {
    padding: 0.25em 0em;
  }
  .card {
    background-color: white;
    border-radius: 0.5em;
    margin-bottom: 1em;
    box-shadow: 0.25em 0.25em 1.5em -0.15em rgba(0, 0, 0, 0.6);
    font-family: $open-sans;
    font-size: 1.25em;
    transition: transform 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &:hover {
      transform: scale(1.1);
    }
    .card-title {
      font-family: $montserrat;
      font-weight: bold;
    }
    img {
      border-radius: 0.5em 0.5em 0em 0em;
    }
  }
}

#secondary {
  background-image: url("/img/home/other.jpg");
  height: 100%;
  #secondaryOverlay {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 5em 0em;
    .display-3 {
      padding: 0.25em 0em;
    }
  }
  #carouselId {
    .carousel-inner {
      border-radius: 1.25em;
      min-height: 30em;
      box-shadow: 0.25em 0.25em 1.5em -0.15em rgba(0, 0, 0, 0.6);
    }
    img {
      min-height: 30em;
      filter: brightness(0.4);
    }
    .carousel-caption {
      top: 10%;
      text-align: left;
    }
    .display-3 {
      font-size: 2.5em;
      letter-spacing: 0px;
    }
    p {
      font-family: $open-sans;
      font-size: 1.25em;
    }
  }
}

.slack-content {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25em;
}

.logo {
  width: 70px;
  height: 70px;
  padding: 0;
}

.btn:hover{
    -webkit-transform: scale(1.1);
}

.cute-btn {
    font-family: $montserrat;
}
